<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Videoclub.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peliculas</servlet-name>
        <servlet-class>Videoclub.Peliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaUsuario</servlet-name>
        <servlet-class>Servlets.compruebaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>Servlets.registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verHistorico</servlet-name>
        <servlet-class>Servlets.verHistorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datosUsuario</servlet-name>
        <servlet-class>Servlets.datosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservarPelicula</servlet-name>
        <servlet-class>Servlets.reservarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alquilarPelicula</servlet-name>
        <servlet-class>Servlets.alquilarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaInicio</servlet-name>
        <servlet-class>Servlets.cargaInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltroPeliculas</servlet-name>
        <servlet-class>Servlets.FiltroPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaPeliculas</servlet-name>
        <servlet-class>Servlets.cargaPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarDatosUsuario</servlet-name>
        <servlet-class>Servlets.cambiarDatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verHistoricoUsuario</servlet-name>
        <servlet-class>Servlets.verHistoricoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibePelicula</servlet-name>
        <servlet-class>Servlets.RecibePelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelarPelicula</servlet-name>
        <servlet-class>Servlets.cancelarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaCarrito</servlet-name>
        <servlet-class>Servlets.cargaCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaNumCuenta</servlet-name>
        <servlet-class>Servlets.cargaNumCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaJuego</servlet-name>
        <servlet-class>Servlets.cargaJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservarJuego</servlet-name>
        <servlet-class>Servlets.reservarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltroJuegos</servlet-name>
        <servlet-class>Servlets.FiltroJuegos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peliculas</servlet-name>
        <url-pattern>/Peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaUsuario</servlet-name>
        <url-pattern>/compruebaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verHistorico</servlet-name>
        <url-pattern>/verHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datosUsuario</servlet-name>
        <url-pattern>/datosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservarPelicula</servlet-name>
        <url-pattern>/reservarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alquilarPelicula</servlet-name>
        <url-pattern>/alquilarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaInicio</servlet-name>
        <url-pattern>/cargaInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltroPeliculas</servlet-name>
        <url-pattern>/FiltroPeliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaPeliculas</servlet-name>
        <url-pattern>/cargaPeliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarDatosUsuario</servlet-name>
        <url-pattern>/cambiarDatosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verHistoricoUsuario</servlet-name>
        <url-pattern>/verHistoricoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibePelicula</servlet-name>
        <url-pattern>/RecibePelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelarPelicula</servlet-name>
        <url-pattern>/cancelarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaCarrito</servlet-name>
        <url-pattern>/cargaCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaNumCuenta</servlet-name>
        <url-pattern>/cargaNumCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaJuego</servlet-name>
        <url-pattern>/cargaJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservarJuego</servlet-name>
        <url-pattern>/reservarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltroJuegos</servlet-name>
        <url-pattern>/FiltroJuegos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
